$background-color: green;

@mixin theme($theme: blue){
    border-color: $theme;
}



body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: $background-color;
}

h1{
    color: blue
}

table{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 30%;
    
}

td{
    border: 3px solid black;
    margin: auto;
    color:blue
}

th{
    border: 3px solid black;
    font-weight: bolder;
    margin: auto;
    color: goldenrod
}

h2{
    color: green
}

